1. Please do the action if it's fairly straigtforward and only require several line line changes.
2. Please challenge your own solution whether that's the correct solution or not
3. Always question if i give incomplete information
4. for component styling please ALWAYS follow the theme on web/app/globals.css
5. use MCP whenever you can. when i ask something usually the MCP already there